<!--  blog/templates/blog/detail.html -->

{% extends "base.html" %}
{% block header %}
    {{ form.media }} # Required for styling/js to make ckeditor5 work
{% endblock %}


{% block page_content %}

  <div class="OpenTA-post-entry p-0">
<div> {{ post.title }} {{ post.last_modified }} </div>
     <div id={{ post.pk }} class="OpenTA-post-form bg-blue-100">
    THIS POST USERNAME = {{ username }} 
    <form method="post">
        {% csrf_token %}
	  {% for field in form %}
        <div>
            {{ field.label_tag }}: {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}
        <button type="submit" class="OpenTA-submit-button">Submit Edit </button>
	<button type="submit" name="action" value="delete" class="OpenTA-submit-button">Delete </button>
	
    </form>
    </div> 
  </div> 

{% endblock page_content %}
