<!--  blog/templates/blog/detail.html -->

{% extends "base.html" %}
{% block header %}
    {{ form.media }} # Required for styling/js to make ckeditor5 work
{% endblock %}


{% block page_content %}

  <div class="OpenTA-post-entry p-0">
<div> {{ post.title }} {{ post.last_modified }} </div>
    {{ post.body | safe | linebreaks }}
    <div class="OpenTA-toggle sm:italic bg-red-100  ">
     <span> 
      <button   id="hide{{ post.pk }}" onClick=toggle({{ post.pk }}) class="OpenTA-hide-button"> <i class="fa-solid fa-chevron-up"></i>  Less </button> 
      <button  id="show{{ post.pk }}" onClick=toggle({{ post.pk }}) class="OpenTA-show-button hidden"> <i class="fa-solid fa-chevron-down"></i> More </button> 
     </span> 
     <div id={{ post.pk }} class="OpenTA-comment-form bg-blue-100">
    <form method="post">
        {% csrf_token %}
        <div> AUTHOR={{ username }}    </div>
        <div> {{ form.body | safe }} </div>
        <button type="submit" class="OpenTA-submit-button">Submit</button>
    </form>
    </div> 
    </div> 
  </div> 

{% endblock page_content %}
