<!--  blog/templates/blog/detail.html -->

{% extends "base.html" %}
{% block header %}
    {{ form.media }} # Required for styling/js to make ckeditor5 work
{% endblock %}

{% block page_title %}
<span>
	{{ post.title }} {{ post.last_modified }} 
</span> 
{% endblock page_title %}

{% block page_content %}

	
  <div class="bg-post_body_color">
    <p>{{ post.body | safe | linebreaks }}</p>
  </div> 





    <h3>Comments:</h3>
    {% for comment in comments %}
      <div class="p-2">
     {% if comment.author != "" %}
        <p> On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote: </p>
     {% else %}
	<p> On {{ comment.created_on.date }} <b>Anon </b> wrote: </p>
     {% endif %}
     	<div class="p-1 bg-post_body_color">
            {{ comment.body | safe | linebreaks }}
	</div> 
    </div>
    {% endfor %}

    <div class="p-4 bg-red-100">
     <span> 
      <button   id="hide{{ post.pk }}" onClick=toggle({{ post.pk }}) class="bg-red-500"> <i class="fa-solid fa-chevron-down"></i> Leave a comment </button> 
      <button  id="show{{ post.pk }}" onClick=toggle({{ post.pk }}) class="hidden bg-green-500"> <i class="fa-solid fa-chevron-up"></i> </button> 
     </span> 
     <div id={{ post.pk }} class="px-4 hidden">
    <form method="post">
        {% csrf_token %}
        <div> AUTHOR={{ author }} USER={{ user }}  PK={{ user.pk }} </div>
        <div> {{ form.body | safe }} </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div> 
    </div> 

{% endblock page_content %}
