{% block category %}


    <ul class="OpenTA-navigation-bar">
        {% for category in categories %}
	<li class="OpenTA-text-size -mb-px mr-1"> 


                {% if category.pk == category_selected %}
		<a class="OpenTA-category-selected" href="/blog/{{ category.pk }}/">{{ category }}   </a> 

	</li>
                {% else %}
                    <li class="mr-1">
                        <a class="OpenTA-category-not-selected" href="/blog/{{ category.pk }}/">{{ category }}</a>
                    </li>
                {% endif %}
        {% endfor %}
    </ul>






{% endblock category %}


{% block subcategory %}


    <ul class="OpenTA-subcategories">
        {% for category in categories %}
{% if category.pk == category_selected %}
	<li class="OpenTA-text-size -mb-px mr-1"> 

		<form method="post">
			<label for="id_filterkey_all" > <input type="checkbox" name="option" value="All" id="All" > All </input>
			</label>
		{% for f in category.get_filterkeys %} 
		{{ style }} 
		{% if f.name %}
			<label for="id_filterkey_{{f.pk}}">
				{% if filter_key.pk == f.pk %}
				<input type="checkbox" name="option" value="{{ f.get_posts }}" id="id_filterkey_{{f.pk}}" checked>  {{ f.title | truncatechars:10 }}  <span class="OpenTA-debug"> {{ f.get_posts }} </span> </input> 
				{% else %}
				<input type="checkbox" name="option" value="{{ f.get_posts }}" id="id_filterkey_{{f.pk}}">  {{ f.title| truncatechars:10  }}  <span class="OpenTA-debug"> {{ f.get_posts }} </span> </input> 

				{% endif %}
			</label>
		{% else %} <span> EMPTY </span>
		{% endif %}
		{% endfor %}
		</form>

	</li>
      {% endif %}
        {% endfor %}
    </ul>

    <script>
	function hideshow( a ) {
		var posts =  document.getElementsByClassName('post');
		for (var i = 0; i < posts.length; i++) {
			posts[i].classList.remove('visible') ; // Do something with each element
		        posts[i].classList.add('hidden') ; // Do something with each element
		        }

		if ( a == 'All' ){
			var acopy = [];
			for (var i = 0; i < posts.length; i++) {
				posts[i].classList.remove('hidden') ; // Do something with each element
				posts[i].classList.add('visible') ; // Do something with each element
				}
			} 
		else {
		     var acopy = JSON.parse( a );
    		     const checkedboxes = document.querySelectorAll('input[name="option"]:checked');
		     var ar = []
		     for ( let i = 0 ; i < checkedboxes.length ; i++ ){ ar = ar.concat( JSON.parse(checkedboxes[i].value ) )  } 
		     for ( let i = 0 ; i <  ar.length ; i++ ){ document.getElementById( 'post_' + String( ar[i] )   ).classList.replace('hidden','visible')  ; console.log('post_' +  String( ar[i] ) ) } 
		     const postchecks = document.getElementById( 'post_' + acopy[i] );
		     console.log("ar = ", ar )
		}
		var rhs = document.getElementById("rhs");
		if ( rhs ) {
			rhs.classList.add('hidden') 
		}
	}
        // Select all radio buttons with the name 'option'
        const checkboxButtons = document.querySelectorAll('input[name="option"]');
        checkboxButtons.forEach((checkbox) => {
            checkbox.addEventListener('change', () => {
			hideshow(  checkbox.value )
            });
        });
    </script>





{% endblock subcategory %}
