{% block category %}


    <ul class="OpenTA-navigation-bar">
        {% for category in categories %}
	<li class="OpenTA-text-size -mb-px mr-1"> 


                {% if category.pk == category_selected %}
		<a class="OpenTA-category-selected" href="/blog/{{ category.pk }}/">{{ category }}   </a> 

	</li>
                {% else %}
                    <li class="mr-1">
                        <a class="OpenTA-category-not-selected" href="/blog/{{ category.pk }}/">{{ category }}</a>
                    </li>
                {% endif %}
        {% endfor %}
    </ul>






{% endblock category %}


{% block subcategory %}


    <ul class="OpenTA-subcategories">
	    <li class="pe-2" > <span class="OpenTA-filterkey-selected"> All  </span> </li> 
        {% for category in categories %}
{% if category.pk == category_selected %}
	<li class="OpenTA-text-size -mb-px mr-1"> 


		{% for f in category.get_filterkeys %} 
		{% if f.name %}
			<span class='OpenTA-filterkey-not-selected '> <div class='hidden'> {{ f.name }} </div>  {{ f.title}} </span> 
		{% else %} <span> EMPTY </span>
		{% endif %}
		{% endfor %}

	</li>
      {% endif %}
        {% endfor %}
    </ul>






{% endblock subcategory %}
