  {% block posts %}
    <div class="OpenTA-post-list">
      {% for post in posts %}
        <div>

          <div class="OpenTA-post-entry">
            <span class="OpenTA-toggle">
	  {% if post.pk == selected %}
	      <button  id="check{{ post.pk }}"  class="OpenTA-hide-button"> <i class="far fa-square-check lhs"></i>    </button>
	   {% else %}
<button  id="check{{ post.pk }}"  class="OpenTA-hide-button"> <i class="far fa-square "></i>   </button>
		{% endif %}
	      <a class="OpenTA-leave-comment-link" href="{% url 'blog_index'  post.pk %}"> 
<span id="tog{{ post.pk}}" class="selected-post" > <span class="OpenTA-post-title"> {{ post.title }} </span> </span>
	      </a>
	      
            </span>


	    <div>  <span class="OpenTA-post-last-modified"> {{ post.last_modified }}  </span> 



          </div>
        </div>
      {% endfor %}
    </div>


  {% endblock posts %}
