  {% block posts %}
    <div class="OpenTA-post-list bg-blue-800">
      {% for post in selected_posts %}


      <div id="{{post.pk}}" class="hideshow " >


	    <div  class="OpenTA-post-entry">
	    <span class="OpenTA-post-title"> {{ post.title }} 	<a class="OpenTA-edit-post-link" href="{% url 'blog_edit_post' post.pk %}">  
	    {% if is_authenticated %} 
			    Edit post
{% endif %}

		    </a> 
 
	    </span>
              <div class="OpenTA-post-body" id="{{ post.pk}}"> {{ post.body  | safe }} </div>
	    <div>  <span class="OpenTA-post-last-modified"> {{ post.last_modified }}  </span> 
	    <a class="OpenTA-leave-comment-link" href="{% url 'blog_leave_comment' post.pk %}">  

	    {% if is_authenticated %}
		    Leave a comment 
{% endif %}


	    </a> 
	    </div>



              <div class="OpenTA-comment-list">
                {% for comment in comments %}
                  <div class="OpenTA-comment-entry">
                    {% if comment.author != "" %}
                    {% else %}
		    <p> On {{ comment.created_on.date }} <b>Anon  {{ username }} </b> wrote: </p>
                    {% endif %}

		    <div class="OpenTA-comment-body"> {{ comment.body | safe }}   </div>
		    <div>
			     <div class="mt-2 flex justify-between w-full">
				     	{% if comment.author == username %}
			<a class="OpenTA-leave-comment-link" href="{% url 'blog_edit_comment' comment.pk %}">  Edit comment </a> 
			{% else %}
			&nbsp;
			{% endif %}

			    <span class=""> {{ comment.author }}      {{ comment.created_on.date }}    </span>
			     </div>
		  </div>
		  </div> 

                {% endfor %}
              </div>




          </div>
        </div>
      {% endfor %}
    </div>


  {% endblock posts %}
