{% block posts %}
  <div class="OpenTA-post-list">
	  	    {% if is_authenticated %} 
   <a class="OpenTA-add_post-link" href="{% url 'blog_add_post'  %}">  Add post</a> 
{% endif %}

    {% for post in posts %}
      <div>


        {% if post.pk == selected %}
          <div class="OpenTA-post-selected-entry">
            <div class="flex justify-between w-full">
	    <span> 
              <a class="" href="{% url 'blog_index'  post.pk %}">
                <button  id="check{{ post.pk }}"  class=""> <i class="far fa-square-check lhs"></i>    </button>
                <span id="tog{{ post.pk}}" class="selected-post" > <span class="OpenTA-post-title"> {{ post.title | truncatechars:10 | safe }} </span> </span>
		</span> 
                <span class="OpenTA-post-last-modified"> {{ post.last_modified }}  </span>
              </a>
	    </div>
              <div class="text-xs" > {{ post.body | striptags | truncatechars:200   | safe }} </div>
          </div>

        {% else %}
          <div class="OpenTA-post-entry">
            <div class="flex justify-between w-full">
	      <span> 
              <a class="OpenTA-leave-comment-link" href="{% url 'blog_index'  post.pk %}">
                <button  id="check{{ post.pk }}"  class="OpenTA-hide-button"> <i class="far fa-square "></i>   </button>
                <span id="tog{{ post.pk}}" class="selected-post" > <span class="OpenTA-post-title"> {{ post.title | truncatechars:10 | safe }} </span> </span>
	    </span> 
                <span class="OpenTA-post-last-modified"> {{ post.last_modified }}  </span>
              </a>
	    </div> 
              <div class="text-xs"> {{ post.body | truncatechars:200 | safe }} </div>
          </div>
        {% endif %}

      </div>
      </div>
      </div>
    {% endfor %}
  </div>


{% endblock posts %}
