<!-- blog/templates/blog/index.html -->
{% extends "base.html" %}


{% block page_content %}

 SELECTED = {{ selected }} 
 <div class="hidden md:block">
  <div class="bg-gray-300">
    <table class="min-w-full border-collapse border border-blue-800"> <tr>
      <td class="w-1/4 align-top">

      {% block posts %}
      {% include "blog/posts_lhs.html" %}
      {% endblock posts %}

    </td> 
    <td class="OpenTA-rhs-sidebyside w-3/4 align-top px-2"> 
      {% include "blog/posts_rhs.html" %}
    </td> 
	    
	    </tr> </table>
  </table>
  </div>
 </div> 


 <div class="block md:hidden">
  <div class="bg-gray-300">
    <table class="min-w-full border-collapse border border-blue-800"> <tr>
    {% if not selected %}
      <td class="align-top">

      {% block posts2 %}
      {% include "blog/posts_lhs.html" %}
      {% endblock posts2 %}

    </td> 
    {% else %}
    <td class="OpenTA-rhs-sidebyside align-top px-2"> 
      {% include "blog/posts_rhs.html" %}
    </td> 
    {% endif %}
	    
	    </tr> </table>
  </table>
  </div>
 </div> 



{% endblock page_content %}

