@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .OpenTA-background { @apply  bg-white;}
    .OpenTA-text-size { @apply  text-xs md:text-xs lg:text-sm;}
    .OpenTA-category-not-selected { @apply  inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-0 px-2;}
    .OpenTA-category-selected { @apply  inline-block border border-blue-500 rounded py-0  bg-blue-500 text-white px-2; }
    .OpenTA-filterkey-selected { @apply  inline-block border border-blue-500 rounded py-0 px-2 bg-blue-400 text-white px-2;}
    .OpenTA-filterkey-not-selected { @apply  inline-block border border-blue-500 rounded py-0  bg-white  px-2;}
    .OpenTA-body { @apply  bg-[#ffffff] p-4 font-sans antialiased;}
    .OpenTA-comment-body { @apply  border-b border-gray-300 py-1 rounded-lg shadow-md;}
    .OpenTA-post-list { @apply  h-full border border-gray-300 rounded-lg shadow-md ;}
    .OpenTA-comment-entry { @apply  border-2 mt-2 p-2 border-gray-400 rounded-lg;}
    .OpenTA-comment-list { @apply  p-0 rounded-lg  shadow-md ;}
    .OpenTA-hide-button { @apply   hover:bg-blue-400;}
    .OpenTA-leave-comment-form { @apply  px-0 ;}
    .OpenTA-leave-comment-link { @apply  px-0 ;}
    .OpenTA-navigation-bar { @apply  flex p-2  bg-white  px-4; }
    .OpenTA-subcategories { @apply  flex px-4  mb-2 bg-white  ; }
    .OpenTA-post-selected-entry { @apply  border border-gray-300 p-2 rounded-lg bg-yellow-100  shadow-md;}
    .OpenTA-post-rhs-entry { @apply       bg-yellow-100 border border-gray-300 p-2 rounded-lg shadow-md;}
    .OpenTA-post-entry { @apply           border border-gray-300 p-2 rounded-lg shadow-md;}
    .OpenTA-post-last-modified { @apply  font-light ;}
    .OpenTA-post-title { @apply  font-semibold;}
    .OpenTA-show-button { @apply  hover:bg-blue-400 bg-blue-200;}
    .OpenTA-submit-button { @apply  hover:bg-blue-400 ;}
    .OpenTA-rhs-sidebyside { @apply  w-3/4 align-top px-2;}
    .OpenTA-lhs-sidebyside { @apply  w-1/4 align-top px-2;}
    .OpenTA-table-sidebyside { @apply  min-w-full border-collapse border border-blue-800;}
    .OpenTA-new-button { @apply  p-1 text-white bg-blue-400 font-medium rounded me-2 ;}
    .OpenTA-toggle { @apply  italic ; }
    .OpenTA-visibility { @apply  flex  font-semibold ;}
    .OpenTA-choice { @apply px-4 ; }
    .OpenTA-title { @apply  font-semibold ;}
    .OpenTA-alias { @apply  font-semibold ;}
    .OpenTA-delete-button { @apply  p-1 text-white bg-blue-400 font-medium rounded me-2 ;}
    .OpenTA-text-input { @apply  px-2 me-2 text-blue-600 rounded-lg ;}
    .OpenTA-debug { @apply hidden text-xs text-red-800 ; }
    .OpenTA-filterkeys { @apply inline-block text-green-800 px-4 ; }
}

option {
    font-size: 10px;
    background-color: #cccfff;
}

label:has(input[type="radio"]:checked) {
  color: red;
  font-weight: bold;
}
