<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en"  class="text-gray-900 antialiased leading-tight">
<head>
    <meta charset="utf-8">
    <title>OpenTA Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}">
    <!-- <script src="https://cdn.tailwindcss.com"></script> --!>


  <script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
    


 {{ form.media }}

<!-- script>
function hide( ) {
	console.log("PLIST = " )
}
</script --!>

<!--script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
	    OpenTA_bodycolor_color:  '#ffcccc',
          }
        }
      }
    }
</script --!>
 


</head>
{% load static %}
{% load humanize %}

<body class="min-h-screen">
	<div class="OpenTA-debug"> BASE   {{ dummy_field }} </div> 
<div class="OpenTA-body OpenTA-text-size">
	<a  class="OpenTA-text-size hover:bg-blue-200 hover:font-bold px-4" href="/home" >
<img class="inline w-8 h-4 md:w-12 md:h-6 lg:w-12 lg:h-6 " src="{% static '/images/s.ico' %}" alt="">
	OpenTA-sidecar </a> 
{% if is_authenticated %}  
{% if referer %}
{% if filter_key.title %}
<!-- a class="hover:font-bold hover:bg-blue-200" href="{{ referer }}/1/single/{{filter_key.name }} ">  <img class="inline w-4 h-4 md:w-6 md:h-6 lg:w-6 lg:h-6 " src="{% static '/images/openta.ico' %}" alt=""> {{ username }}:{{ subdomain }}  {{ author_type_display }}  </a --!>
<!-- a class="hover:font-bold hover:bg-blue-200" href="https://{{subdomain}}.opentaserver.com/1/single/{{filter_key.name }} ">  <img class="inline w-4 h-4 md:w-6 md:h-6 lg:w-6 lg:h-6 " src="{% static '/images/openta.ico' %}" alt=""> SETTINGS_OPENTA_SERVER  ={{ referer }}SUBDOMAIN={{ subdomain }}  FILTER_KEY={{ filter_key.name }}  </a --!>
	<a class="hover:font-bold hover:bg-blue-200" href="{{ server }}/1/single/{{filter_key.name }} ">  <img class="inline w-4 h-4 md:w-6 md:h-6 lg:w-6 lg:h-6 " src="{% static '/images/openta.ico' %}" alt="">  Back to {{ subdomain }}:{{ filter_key.title }}  </a>

{% else %}
	<a class="hover:font-bold hover:bg-blue-200" href="{{ referer }} ">  <img class="inline w-4 h-4 md:w-6 md:h-6 lg:w-6 lg:h-6 " src="{% static '/images/openta.ico' %}" alt="">
	{{ username }}:{{ subdomain }}  {{ author_type_display }}  
	</a>

{% endif %}
{% endif %}
<!--
{% if filter_key.title%}
<span class="text-xs">  
	"{{ filter_key.title}}"  </span>
{% endif %}
--!>

			   
{% endif %}

{% include "blog/header_snippet.html" %}



<div class="bg-page_title">
{% block page_title %}{% endblock page_title %}
</div> 
{% block page_content %}{% endblock page_content %}
</body>
</html>


<!-- script>
var elements = document.getElementsByClassName("ABCDEFG");
for (var i = 0; i < elements.length; i++) {
         	elements[i].parentElement.parentElement.classList.add('OpenTA-filterkeys') ; // Do something with each element
         	}

</script --!>

